<template>
  <div class="inner-container">
    <div class="box">
      <form action="#" @submit.prevent="onSubmit">
        <h1>Connexion administrateur</h1>
        <input name="identifiant" type="text" placeholder="identifiant" v-model="user.identifiant" />
        <input name="password" type="password" placeholder="mot de passe" v-model="user.password" />
        <button type="submit">Connexion</button>
        <p>
          Un problème de connexion ?
          <span @click="toggle = !toggle">
            Demande de l'aide
            <div v-show="toggle">
              <a
                href="mailto:pierre.roussel01@free.fr"
                title="pierre.roussel01@free.r"
              >pierre.roussel01@free.fr</a>
            </div>
          </span>
        </p>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "login-form",
  props: {
    user: {
      type: Object,
      required: false,
      default: () => {
        return {
          identifiant: "",
          password: ""
        };
      }
    }
  },
  data() {
    return {
      errorsPresent: false,
      toggle: false
    };
  },
  methods: {
    showMail: () => {
      document.querySelector("#span-content").st;
    },
    onSubmit: function() {
      if (this.user.login === "" || this.user.password === "") {
        this.errorsPresent = true;
      } else {
        this.$emit("signin", this.user);
      }
    }
  }
};
</script>

<style scoped>
.inner-container {
  width: 400px;
  height: 400px;
  position: absolute;
  top: calc(50vh - 200px);
  left: calc(50vw - 200px);
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
}
.box {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: Helvetica;
  color: #fff;
  background: var(--primary);
  padding: 30px 0px;
  border-radius: 5px;
}
.box h1 {
  text-align: center;
  margin: 1em 0;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}
.box input {
  display: block;
  width: 300px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.486),
    0px 0px 3px rgba(255, 255, 255, 0.603);
  background: var(--primary);
  color: #fff;
  border: 0;
  transition: 0.3s;
}
.box input:focus,
.box input:active,
.box button:focus,
.box button:active {
  background: rgba(0, 0, 0, 0.2);
  outline: none;
}
.box button {
  background: var(--primary);
  border: 0;
  color: var(--secondary-light);
  padding: 10px;
  font-size: 20px;
  width: 330px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.486),
    0px 0px 3px rgba(255, 255, 255, 0.603);
  display: block;
  transition: 0.3s;
  cursor: pointer;
}
.box button:active,
.box button:hover {
  background: #27ae60;
}
.box p {
  font-size: 14px;
  text-align: center;
}
.box p span {
  cursor: pointer;
  color: #666;
}
.box p span:hover,
.box a:hover {
  cursor: pointer;
  color: #27ae60;
}
</style>