@font-face {
    font-family: Roboto;
    src: url('./font/Roboto-Regular.ttf');
}

@font-face {
    font-family: Shadows;
    src: url('./font//ShadowsIntoLight-Regular.ttf');
}

:root {
    --primary: #bcaaa4;
    --primary-light: #efdcd5;
    --primary-dark: #8c7b75;
    --secondary: #ced7db;
    --secondary-light: #ffffff;
    --secondary-dark: #9da6a9;
    --alert: #a55656;
    --success: #27ae60;
}

/*
    Basic theme
*/
.primary {
    color: var(--primary);
}

.primary.back {
    color: var(--primary-light);
    background-color: var(--primary);
}

.primary-light {
    color: var(--primary-light);
}

.primary-light.back {
    background-color: var(--primary-light);
}

.primary-dark {
    color: var(--primary-dark);
}

.primary-dark.back {
    background-color: var(--primary-dark);
}

.secondary {
    color: var(--secondary);
}

.secondary.back {
    background-color: var(--secondary);
}

.secondary-light {
    color: var(--secondary-light);
}

.secondary-light.back {
    background-color: var(--secondary-light);
}

.secondary-dark {
    color: var(--secondary-dark);
}

.secondary-dark.back {
    background-color: var(--secondary-dark);
}

/* 
    Body vars
*/
body {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
    max-width: 100vw;

    overflow-x: hidden;
}

.centered {
    align-items: center;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.right-align {
    right: 0;
}

.left-align {
    left: 0;
}

.top-align {
    top: 0;
}

/*
    Menu principal
*/
.menu-container {
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px -1px 5px 1px rgba(0, 0, 0, 0.7);
}

.menu-row {
    margin: 0;
    width: 100%;
    padding: 0;
}

.menu-row.logo {
    padding: 0 7vw;
    box-shadow: none;
}

.menu-row.links {
    padding: 1vh;
}

.menu-row a {
    color: var(--secondary-light);
    font-size: 1.2em;
    padding: 1vh 1.5vh;
}

.menu-row a:hover {
    color: var(--secondary-light);
    background-color: var(--primary);
}

.menu-row a.router-link-active,
.menu-row a.router-link-exact-active {
    color: rgba(0, 0, 0, 0.856);
    background-color: var(--primary);
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.459);
}

.facebook-pin:hover {
    color: #4c6ef5 !important;
}

.instagram-pin:hover {
    color: #e2306c !important;
}

/*
    Body
*/
.body-container {
    width: 100%;
    height: 100%;
    min-height: 80vh;
    margin: 0;
    margin-top: 13vh;
    padding: 1vw 0;
}

/*
    Footer
*/
.footer-container {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    padding: 1vw;
}


/*
    Buttons et liens
*/
a {
    text-decoration: none;
    color: var(--alert);
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    color: var(--secondary-dark);
    text-decoration: underline;
    text-decoration-style: dashed;
}