<template>
  <div>
    <login-form @signin="signin"></login-form>
  </div>
</template>
<script>
import loginForm from "../../components/Loginform.vue";
import { api } from "../../helpers/helpers.js";
export default {
  name: "login",
  components: {
    "login-form": loginForm
  },
  methods: {
    signin: async function(user) {
      const res = await api.signin(user);
      if (!res.error) {
        localStorage.setItem("user", JSON.stringify(res.user));
        localStorage.setItem("jwt", res.token);
        this.authenticated = true;
        this.flashMessage.success({
          title: "Connexion réussie",
          message: "Bienvenue " + res.user.identifiant
        });
        this.$router.push(`/panel`);
      } else {
        this.authenticated = false;
        this.flashMessage.error({ title: "Erreur", message: res.error });
      }
    }
  }
};
</script>