<template>
  <div>
    <h1>Actualités</h1>
    <div id="iframe-container">
      <iframe
        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FS.P.A.CancheAuthie%2F&tabs=timeline&width=900&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
        width="500"
        height="500"
        style="border:none;overflow:hidden"
        scrolling="no"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media"
      ></iframe>
    </div>
  </div>
</template>
<style scoped>
#iframe-container {
  width: 90vw;
  height: 800px;
  padding: 0;
  margin: auto;
}
</style>
<script>
export default {
  name: "Actualite"
};
</script>
