<template>
  <main id="inner-body">
    <div class="main-image centered">
      <img src="../assets/home_banniere.png" alt="colette" />
    </div>
    <div class="action-bar">
      <div class="action-bar-inner">
        <div class="action-item">
          <font-awesome-icon class="action-icon primary-dark" icon="people-carry" />
          <div class="action-container">
            <h2>Nous aider</h2>
            <p>Participer à la vie du refuge et au secours des animaux. Vous pouvez même devenir enquêteur et agir pour la protection animale.</p>
            <a href="/equipe" class="action-button">
              <font-awesome-icon class="action-icon" icon="plus-circle" />En savoir plus
            </a>
          </div>
        </div>
        <div class="action-item">
          <font-awesome-icon class="action-icon primary-dark" icon="hand-holding-heart" />
          <div class="action-container">
            <h2>Faire un don</h2>
            <p>En tant que refuge indépendant, nous n'avons aucune subvention et ne pouvons exister sans votre aide quotidienne.</p>
            <a href="/equipe" class="action-button">
              <font-awesome-icon class="action-icon" icon="plus-circle" />En savoir plus
            </a>
          </div>
        </div>
        <div class="action-item">
          <font-awesome-icon class="action-icon primary-dark" icon="heart" />
          <div class="action-container">
            <h2>Adopter</h2>
            <p>Le refuge de Saint-Aubin accueille des centaines d'animaux qui ont besoin d'amour et d'une famille, pourquoi pas chez vous ?</p>
            <a href="/equipe" class="action-button">
              <font-awesome-icon class="action-icon" icon="plus-circle" />En savoir plus
            </a>
          </div>
        </div>
        <div class="action-item">
          <font-awesome-icon class="action-icon primary-dark" icon="home" />
          <div class="action-container">
            <h2>Famille d'accueil</h2>
            <p>Vous avez la possibilité d'accueillir temporairement, un animal dans le besoin (chatons, chiens âgés, convalescences).</p>
            <a href="/equipe" class="action-button">
              <font-awesome-icon class="action-icon" icon="plus-circle" />En savoir plus
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>
<script>
</script>

<style scoped>
div.main-image {
  width: auto;
  height: 70vh;
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--primary-dark);
}

div.main-image > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.action-bar {
  padding: 2em 0;
  width: 100vw;
  margin: 2em 0;
  display: flex;
  box-shadow: 0px 0 3px rgba(0, 0, 0, 0.7);
  background: var(--primary-light);
}

.action-item {
  flex: auto;
  transition: 0.3s;
  width: 20%;
  height: 100%;
  display: inline-block;
}

.action-icon {
  display: block;
  margin: 0 auto;
  font-size: 5em;
  padding: 0.35em;
  border-radius: 50%;
  box-shadow: 2px 2px 3px var(--primary), -1px -1px 3px var(--secondary-light);
}

.action-button-container {
  display: block;
  margin: 0 auto;
}

.action-container p {
  font-size: 0.8rem;
  max-height: 5vh;
  text-overflow: clip;
  margin: 1.5rem 0;
}

.action-button {
  background: var(--primary-dark);
  color: var(--primary-light);
  vertical-align: middle;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.action-button:hover {
  background: var(--primary-light);
  color: black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.action-button > .action-icon {
  font-size: 0.8em;
  background: transparent;
  display: inline-block;
  border: none;
  margin-right: 0.5em;
  vertical-align: middle;
  box-shadow: none;
}
.action-container {
  padding: 0 2em;
}
</style>