<template>
  <div style="height: 500px; width: 100%">
    <div style="height: 200px overflow: auto;">
      <h1>Accès au site du refuge</h1>
    </div>
    <l-map
      v-if="showMap"
      :zoom="zoom"
      :center="center"
      :options="mapOptions"
      style="width: 45vw"
      class="centered"
      @update:center="centerUpdate"
      @update:zoom="zoomUpdate"
    >
      <l-tile-layer :url="url" :attribution="attribution" />
      <l-marker :lat-lng="withPopup">
        <l-popup>
          <div>
            <a
              class="leaflet-content-link"
              target="_blank"
              href="https://www.google.com/maps/dir//SPA+Canche-Authie+%E2%80%93+Refuge+de+Saint-Aubin,+Route+D%C3%A9partementale+143,+62170+Saint-Aubin/@50.4538151,1.648732,17z/data=!4m16!1m6!3m5!1s0x47dddb2c06225655:0x8a60e33cfe79b65a!2sSPA+Canche-Authie+%E2%80%93+Refuge+de+Saint-Aubin!8m2!3d50.4538151!4d1.6505725!4m8!1m0!1m5!1m1!1s0x47dddb2c06225655:0x8a60e33cfe79b65a!2m2!1d1.6505725!2d50.4538151!3e2"
            >
              <font-awesome-icon
                class="action-icon primary-dark"
                icon="route"
                style="font-size:1.5em"
              />Itinéraire
            </a>
          </div>
        </l-popup>
      </l-marker>
    </l-map>
  </div>
</template>
<style scoped>
.leaflet-content-link {
  text-decoration: underline;
  text-decoration-style: dashed;
  color: var(--primary-dark);
  transition: 0.2s;
}
.leaflet-content-link:hover {
  color: black;
  text-decoration-style: double;
}
</style>
<script>
import { latLng } from "leaflet";
import { LMap, LTileLayer, LMarker, LPopup } from "vue2-leaflet";
import { Icon } from "leaflet";

delete Icon.Default.prototype._getIconUrl;
Icon.Default.mergeOptions({
  iconRetinaUrl: require("leaflet/dist/images/marker-icon-2x.png"),
  iconUrl: require("leaflet/dist/images/marker-icon.png"),
  shadowUrl: require("leaflet/dist/images/marker-shadow.png")
});

export default {
  name: "Example",
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup
  },
  data() {
    return {
      zoom: 13,
      center: latLng(50.4555, 1.65018),
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      withPopup: latLng(50.4555, 1.65018),
      currentZoom: 11.5,
      currentCenter: latLng(50.4555, 1.65018),
      showParagraph: false,
      mapOptions: {
        zoomSnap: 0.5
      },
      showMap: true
    };
  },
  methods: {
    zoomUpdate(zoom) {
      this.currentZoom = zoom;
    },
    centerUpdate(center) {
      this.currentCenter = center;
    }
  }
};
</script>
